 body {
        background-color: #3c0085;
        font-family: sans-serif, helvetica;
        color: white;
      }
      footer {
        color: #ededed;
        text-align: center;
      }
      .tab {
        overflow: hidden;
        border: black;
        background-color: transparent;
      }
      .tab button {
        background-color: transparent;
        float: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.9s;
        font-size: 17px;
        color: #ededed;
    }
    .tab button:hover {
        opacity: 0.5;
        background-color: blue;
    }
    .tab button.active {
        opacity: 0.5;
    }
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
        border: 1px white;
    }
    button {
        text-align: center;
    }
    .active {
        background-color: gray;
        opacity: 0.5;
    }
    a.tablink {
        color: white;
    }
      a.tablink.active {
        color:gray;
      }
